# ===========================
# PYTHON PODSTAWOWE
# ===========================
__pycache__/
*.py[cod]
*$py.class

# ===========================
# ŚRODOWISKO WIRTUALNE
# ===========================
venv/
.env/
.venv/
env/
ENV/
Scripts/
Lib/
Include/
pyvenv.cfg

# ===========================
# PYTEST I TESTY
# ===========================
# .pytest_cache/
.cache/
# test_results/
*.log
*.tmp

# ===========================
# PYCHARM / JETBRAINS
# ===========================
.idea/
*.iml

# ===========================
# PLIKI SYSTEMOWE WINDOWS
# ===========================
Thumbs.db
ehthumbs.db
Desktop.ini

# ===========================
# INNE (pliki tymczasowe, backupy)
# ===========================
*.bak
*.swp
*.swo
*.orig
# zapenia dodanie htmlcov
!htmlcov/